{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="login-main">
    <form class="login-form" method="post">
        {% if error %}
            <div class="alertbox-red">
                <div class="alertbox-red-type">
                    <p>Error</p>
                </div>
                <p class="alertbox-red-message">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}
    
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a class="general-delete-button" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <div>
                <h1 class="h3 mb-3 font-weight-normal login-form-title">Log in to Bear Formation</h1>

                <div class="login-form-descriptionbox">
                    <p class="login-form-description">Not member ? <a class="connect-register-link" href="{{ path("app_register") }}">Register now</a></p>
                </div>
            </div>

            <div class="login-form-inputbox">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required>
            </div>

            <div class="login-form-inputbox">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
        
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
        
            <button class="login-register-validate" class="btn btn-lg btn-primary" type="submit">
                <p class="unselectable">Sign in</p>
            </button>
        {% endif %}
    </form>
</div>
{% endblock %}
