{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}

<div class="student-main">
    <h1 class="general-title">{{ student.firstname ~ " " ~ student.lastname}}</h1>

    <p>Student's sex is {{ student.sex }}.</p>

    <p>{{ student.firstname ~ " is " ~ student.getAge ~ " years old and  " ~ " is living in " ~ student.city }}</p>

    <br>

    <b>Email :</b>
    <p>{{ student.email }}</p>
    <b>Phone number :</b>
    <p>{{ student.phone }}</p>

    <br>

    <table>
        <tr>
          <th>Formation</th>
          <th>Session</th>
          <th>Action</th>
        </tr>
    {% for session in student.sessions %}
        <tr >
            <td><a class="general-card-infobutton" href="{{ path("show_formation", {"id" : session.formation.id}) }}">{{ session.formation.label}}</a></td>
            <td><a class="general-card-infobutton" href="{{ path("show_session", {"id" : session.id}) }}">{{ session.label }}</a></td>
            <td><a class="general-card-infobutton" href="{{ path("interrupt_student", {"id" : student.id, "sessionid" : session.id}) }}" >Interrupt</a></td>
        </tr>
    {% endfor %}
    </table>

    <a class="general-edit-button" href="{{ path("edit_student", {"id" : student.id}) }}">
        <img class="general-edit-button-icon unselectable" src="{{ asset("img/icon_edit.png") }}" alt="Edit icon">
        <p>Edit</p>
    </a>

    <a class="general-delete-button" href="{{ path("delete_student", {"id" : student.id} ) }}">
        <img class="general-delete-button-icon unselectable" src="{{ asset("img/icon_trash.png") }}" alt="Edit icon">
        <p>Delete</p>
    </a>

</div>

{% endblock %}