{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}

<div class="student-main">
    <h1 class="student-title">{{ student.firstname ~ " " ~ student.lastname}}</h1>

    <p>{{student.getAge }} years old</p>

    <p>Sex : {{ student.sex }}</p>

    <p>{{ student.firstname ~ " is living in " ~ student.city }}</p>

    <ul>
        <li>{{ student.phone }}</li>
        <li>{{ student.email }}</li>
    </ul>

    <a class="general-edit-button" href="{{ path("edit_student", {"id" : student.id}) }}">
        <p>Edit</p>
    </a>

    <a class="general-delete-button" href="{{ path("delete_student", {"id" : student.id} ) }}">
        <p>Delete</p>
    </a>

</div>

{% endblock %}