{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<div class="formation-main">
    <h1 class="formation-title">All formations</h1>

    <a href="{{ path("new_formation") }}">
        <p>Create a new Formation</p>
    </a>

    <div class="formation-cards">
        {% for formation in allformations %}
            <div class="formation-card">
                <figure class="formation-card-banner unselectable">
                    <img src="{{ asset("img/default_image.jpg") }}" alt="{{ formation.label }}'s banner image">
                </figure>

                <h2 class="formation-card-label">{{ formation.label }}</h2>
                <p class="formation-card-description">{{ formation.description }}</p>
                <a class="formation-card-infobutton" href="{{ path("formation_show", {"id" : formation.id}) }}">
                    <p>See more</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
