{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<div class="formation-main">
    <h1 class="general-title">All formations</h1>

    <a class="general-new-button unselectable" href="{{ path("new_formation") }}">
        <p>Create a new formation</p>
    </a>

    <div class="general-cards">
        {% for formation in allformations %}
            <div class="general-card">
                <figure class="general-card-banner unselectable">
                    <img class="general-card-banner-image unselectable" src="{{ asset("img/default_image.jpg") }}" alt="{{ formation.label }}'s banner image">
                </figure>

                <h2 class="general-card-label">{{ formation.label }}</h2>
                <p class="general-card-description">{{ formation.description }}</p>
                <a class="general-card-infobutton unselectable" href="{{ path("show_formation", {"id" : formation.id}) }}">
                    <p>See more</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
