{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

{% if edit %}
    <h1 class="general-title">Edit Formation</h1>
{% else %}
    <h1 class="general-title">Create a Formation</h1>
{% endif %}

<div>
    {{ form_start(formAddEditFormation) }}

        {{ form_row(formAddEditFormation.label) }}

        {{ form_row(formAddEditFormation.description) }}

        {{ form_row(formAddEditFormation.submit) }}
    {{ form_end(formAddEditFormation) }}
</div>

{% endblock %}