{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}

<div class="formation-main">
    <h1 class="general-title">{{ formation.label }}</h1>

    <p>{{ formation.description }}</p>

    <a class="general-edit-button" href="{{ path("edit_formation", {"id" : formation.id}) }}">
        <img class="general-edit-button-icon unselectable" src="{{ asset("img/icon_edit.png") }}" alt="Edit icon">
        <p>Edit</p>
    </a>

    <a class="general-delete-button" href="{{ path("delete_formation", {"id" : formation.id} ) }}">
        <img class="general-delete-button-icon unselectable" src="{{ asset("img/icon_trash.png") }}" alt="Edit icon">
        <p>Delete</p>
    </a>

</div>

{% endblock %}