{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alertbox-red">
            <div class="alertbox-red-type">
                <p class="alertbox-red-type-text">Error</p>
            </div>
            <p class="alertbox-red-message">{{ flash_error }}</p>
        </div>
    {% endfor %}

    <div class="login-main">
        {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a class="general-delete-button" href="{{ path('app_logout') }}">Logout</a>
        </div>
        {% else %}
            {{ form_errors(registrationForm) }}

            <div class="registration-form">
                {{ form_start(registrationForm) }}
                    <h1 class="register-form-title">Register</h1>

                    <div class="register-form-descriptionbox">
                        <p class="login-form-description">Already member ? <a class="connect-register-link" href="{{ path("app_login") }}">Log in</a></p>
                    </div>

                    {{ form_row(registrationForm.email) }}

                    {{ form_row(registrationForm.username) }}
                    
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}

                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="login-register-validate unselectable" >Register</button>
                {{ form_end(registrationForm) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
