{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}

<div class="session-main">
    <h1 class="general-title">All sessions</h1>

    <a class="general-new-button" href="{{ path("new_session") }}">
        <p>Create a new session</p>
    </a>

    <div class="general-cards">
        {% for session in allsessions %}
            <div class="general-card">
                <figure class="general-card-banner unselectable">
                    <img class="general-card-banner-image unselectable" src="{{ asset("img/default_image.jpg") }}" alt="{{ session.label }}'s banner image">
                </figure>

                <h2 class="general-card-label">{{ session.label }}</h2>
                <p class="general-card-description">Has started {{ session.getdaysbegininterval }} ago.</p>
                <a class="general-card-infobutton" href="{{ path("show_session", {"id" : session.id}) }}">
                    <p>See more</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
