{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}

<div class="session-main">
    <h1 class="session-title">All sessions</h1>

    {# <a href="{{ path("new_session") }}">
        <p>Create a new session</p>
    </a> #}

    <div class="session-cards">
        {% for session in allsessions %}
            <div class="session-card">
                <figure class="session-card-banner unselectable">
                    <img src="{{ asset("img/default_image.jpg") }}" alt="{{ session.label }}'s banner image">
                </figure>

                <h2 class="session-card-label">{{ session.label }}</h2>
                <p class="session-card-description">Has started {{ session.getdaysbegininterval }} ago.</p>
                {# <a class="session-card-infobutton" href="{{ path("show_session", {"id" : session.id}) }}">
                    <p>See more</p>
                </a> #}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
