{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}

{% if edit %}
    <h1 class="general-title">Edit Session</h1>
{% else %}
    <h1 class="general-title">Create a Session</h1>
{% endif %}

<div class="session-main">
    {{ form_start(formAddEditSession) }}

        {{ form_row(formAddEditSession.label) }}

        {{ form_row(formAddEditSession.datebegin) }}

        {{ form_row(formAddEditSession.dateend) }}

        {{ form_row(formAddEditSession.capacity) }}

        {{ form_row(formAddEditSession.formation) }}

        <h3>Add Program</h3>

        <div class="form-group row ">
            <div class="col-form-label col-sm-2">&nbsp;</div>
            <div id="programme-fields-list" class="col-sm-10 remove-collection-widget"
                data-prototype="{{ form_widget(formAddEditSession.programs.vars.prototype)|e }}"
                data-session="{{ edit }}"
                data-widget-tags="{{ '<p></p>'|e }}"
                data-widget-counter="{{ formAddEditSession.programs|length }}">
            {% for programmeField in formAddEditSession.programs %}
                <p>
                    {{ form_errors(programmeField) }}
                    {{ form_widget(programmeField, {'attr': {'class': 'borders'}}) }}
                </p>
            {% endfor %}
            </div>
        </div>
        <div class="form-group row flex-action">
            <button type="button" 
                class="add-another-collection-widget general-new-button"
                data-list-selector="#programme-fields-list">Ajouter une nouvelle matière</button>
        </div>
        {# empêche l'apparition d'une légende "programmes", si la collection est vide (en cas de création d'une nouvelle session) #}
        {% do formAddEditSession.programs.setRendered %}

        {{ form_row(formAddEditSession.submit) }}
        
    {{ form_end(formAddEditSession) }}
</div>

{% endblock %}