{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}

{% if edit %}
    <h1 class="general-title">Edit Session</h1>
{% else %}
    <h1 class="general-title">Create a Session</h1>
{% endif %}

<div class="session-main">
    {{ form_start(formAddEditSession) }}

        {{ form_row(formAddEditSession.label) }}

        {{ form_row(formAddEditSession.datebegin) }}

        {{ form_row(formAddEditSession.dateend) }}

        {{ form_row(formAddEditSession.capacity) }}

        {{ form_row(formAddEditSession.formation) }}

        <ul>
            {% for program in formAddEditSession.programs %}
                <li>
                    {{ form_errors(program) }}
                    {{ form_widget(program) }}
                </li>
            {% endfor %}
        </ul>

        {# <ul>
            {% for student in formAddEditSession.students %}
                <li>
                    {{ form_errors(student) }}
                    {{ form_widget(student) }}
                </li>
            {% endfor %}
        </ul> #}

        {{ form_row(formAddEditSession.submit) }}
        
    {{ form_end(formAddEditSession) }}
</div>

{% endblock %}