{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}

<div class="session-main">
    <h1 class="general-title">{{ session.label }}</h1>

    <p>This session is part of <a class="general-card-infobutton" href="{{ path("show_formation", {"id" : session.formation.id}) }}">{{ session.formation.label }}</a> formation.</p>
    <p>{{ session.label }} has a capacity of {{ session.capacity }} students,</p>
    <p>It started on <b>{{ session.getDatebeginFormat }}</b> and will end on <b>{{ session.getDateendFormat }}</b>.</p>

    <br>

    <table>
        <tr>
          <th>Student</th>
        </tr>
    {% for student in session.students %}
        <tr >
            <td ><a class="general-card-infobutton" href="{{ path("show_student", {"id" : student.id}) }}">{{ student }}</a></td>
        </tr>
    {% endfor %}
    </table>

    <br>

    <b>All courses during the session</b>

    <table>
        <tr>
          <th>Subject</th>
          <th>Duration (days)</th>
        </tr>
    {% for program in session.programs %}
        <tr >
            <td><a class="general-card-infobutton" href="#">{{ program.subject.label }}</a></td>
            <td><a class="general-card-infobutton" href="#">{{ program.duration }}</a></td>
        </tr>
    {% endfor %}
    </table>



    <a class="general-edit-button" href="{{ path("edit_session", {"id" : session.id}) }}">
        <img class="general-edit-button-icon unselectable" src="{{ asset("img/icon_edit.png") }}" alt="Edit icon">
        <p>Edit</p>
    </a>

    <a class="general-delete-button" href="{{ path("delete_session", {"id" : session.id} ) }}">
        <img class="general-delete-button-icon unselectable" src="{{ asset("img/icon_trash.png") }}" alt="Edit icon">
        <p>Delete</p>
    </a>

</div>

{% endblock %}