{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}

<div class="subject-main">
    <h1 class="general-title">All Subjects</h1>

    <a class="general-new-button" href="{{ path("app_subjectcategory") }}">
        <p>See all categories</p>
    </a>

    <a class="general-new-button" href="{{ path("new_subject") }}">
        <p>Create a new subject</p>
    </a>

    <div class="general-cards">
        {% for subject in allsubjects %}
            <div class="general-card">
                <figure class="general-card-banner unselectable">
                    <img class="general-card-banner-image unselectable" src="{{ asset("img/default_image.jpg") }}" alt="{{ subject.label }}'s banner image">
                </figure>

                <h2 class="general-card-label">{{ subject.label }}</h2>
                <p class="general-card-description">{{  subject.category.label }}</p>
                <a class="general-card-infobutton" href="{{ path("show_subject", {"id" : subject.id}) }}">
                    <p>See more</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
