{% extends 'base.html.twig' %}

{% block title %}Subjects{% endblock %}

{% block body %}

<div class="subject-main">
    <h1 class="general-title">{{ subject.label}}</h1>

    <p>This subject in part of <a class="general-card-infobutton unselectable" href="{{ path("show_subjectcategory", {"id" : subject.category.id}) }}">{{ subject.category.label }}</a>'s category</p>

    <table>
        <tr>
          <th>Formation</th>
          <th>Session</th>
          <th>Duration</th>
        </tr>
    {% for program in subject.programs %}
        <tr >
            <td><a class="general-card-infobutton unselectable" href="{{ path("show_formation", {"id" : program.session.formation.id}) }}">{{ program.session.formation.label }}</a></td>
            <td><a class="general-card-infobutton unselectable" href="{{ path("show_session", {"id" : program.session.id}) }}">{{ program.session.label }}</a></td>
            <td>{{ program.duration }} days</td>
        </tr>
    {% endfor %}
    </table>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_TEACHER') %}
        <a class="general-edit-button" href="{{ path("edit_subject", {"id" : subject.id}) }}">
            <img class="general-edit-button-icon unselectable" src="{{ asset("img/icon_edit.png") }}" alt="Edit icon">
            <p>Edit</p>
        </a>

        <a class="general-delete-button" href="{{ path("delete_subject", {"id" : subject.id} ) }}">
            <img class="general-delete-button-icon unselectable" src="{{ asset("img/icon_trash.png") }}" alt="Edit icon">
            <p>Delete</p>
        </a>
    {% endif %}

</div>

{% endblock %}