{% extends 'base.html.twig' %}

{% block title %}Subject Category{% endblock %}

{% block body %}

<div class="subject-main">
    <h1 class="general-title">All Subjects Categories</h1>

    <a class="general-new-button" href="{{ path("new_subjectcategory") }}">
        <p>Create a new category</p>
    </a>

    <div class="general-cards">
        {% for category in allcategories %}
            <div class="general-card">
                <figure class="general-card-banner unselectable">
                    <img class="general-card-banner-image unselectable" src="{{ asset("img/default_image.jpg") }}" alt="{{ category.label }}'s banner image">
                </figure>

                <h2 class="general-card-label">{{ category.label }}</h2>
                <p class="general-card-description">There are {{  category.countallsubjects }} available subjects.</p>
                <a class="general-card-infobutton" href="{{ path("show_subjectcategory", {"id" : category.id}) }}">
                    <p>See more</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
