{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}

<div class="subject-main">
    <h1 class="subject-title">{{ category.label}}</h1>

    <p>This category contains {{ category.countallsubjects }} subjects.</p>

    {% for subject in category.subjects %}
        <a href="{{ path("show_subject", {"id" : subject.id }) }}"> {{ subject.label }}</a>
        <br>
    {% endfor %}

    <a href="{{ path("edit_subjectcategory", {"id" : category.id}) }}">
        <p>Edit</p>
    </a>

    <a href="{{ path("delete_subjectcategory", {"id" : category.id} ) }}">
        <p>Delete</p>
    </a>
</div>

{% endblock %}