<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="{{ asset("img/bear.png") }}">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}


        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="{{ asset('js/main.js') }}"></script>
            <script src="{{ asset("js/collection_type.js") }}"></script>
        {% endblock %}
    </head>
    <body>
        <nav>
            <a class="nav-logo" href="{{ path("app_home") }}">
                <img class="nav-logo-image unselectable" src="{{ asset("img/bear_formation.png") }}" alt="Site logo">
            </a>
            <div class="nav-list">
                <a class="nav-option" href="{{ path("app_formation") }}">
                    <p>Formations</p>
                </a>
                <a class="nav-option" href="{{ path("app_subjectcategory") }}">
                    <p>Subjects</p>
                </a>
                {% if is_granted('ROLE_TEACHER') %}
                    <a class="nav-option" href="{{ path("app_student") }}">
                        <p>Students</p>
                    </a>
                {% endif %}>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer>
            <div class="footer-text-categories">
                <div class="footer-text-category">
                    <b class="footer-bold">Formations</b>

                    <p class="footer-text">See all</p>
                    <p class="footer-text">Get more Information</p>
                    <p class="footer-text">Create yours</p>
                </div>

                <div class="footer-text-category">
                    <b class="footer-bold">Legal</b>

                    <p class="footer-text">User rights</p>
                    <p class="footer-text">GDPR</p>
                    <p class="footer-text">Privacy</p>
                </div>

                <div class="footer-text-category">
                    <b class="footer-bold">Help</b>

                    <p class="footer-text">Account</p>
                    <p class="footer-text">My profile</p>
                    <p class="footer-text">Blog</p>
                </div>

                <div class="footer-text-category">
                    <b class="footer-bold">Connect</b>

                    <a class="footer-text" href="{{ path("app_register") }}">Register</a>
                    <a class="footer-text" href="{{ path("app_login") }}">Login</a>
                    <a class="footer-text" href="{{ path("app_logout") }}">Logout</a>
                </div>

            </div>

            <div class="footer-iconlist">
                <figure class="footer-iconfig">
                    <img class="footer-iconoimg unselectable" src="{{ asset("img/icon_facebook.png") }}" alt="">
                </figure>

                <figure class="footer-iconfig">
                    <img class="footer-iconoimg unselectable" src="{{ asset("img/icon_instagram.png") }}" alt="">
                </figure>

                <figure class="footer-iconfig">
                    <img class="footer-iconoimg unselectable" src="{{ asset("img/icon_twitter.png") }}" alt="">
                </figure>
            </div>

            <img class="footer-logo unselectable" src="{{ asset("img/bear.png") }}" alt="Site logo">
        </footer>
    </body>
</html>
