<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% endblock %}
            <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <img class="nav-logo" src="{{ asset("img/bear_formation.png") }}" alt="Site logo">
            <div class="nav-list">
                <a class="nav-option" href="{{ path("app_formation") }}">
                    <p>Formations</p>
                </a>
                <a class="nav-option" href="{{ path("app_session") }}">
                    <p>Sessions</p>
                </a>
                <a class="nav-option" href="{{ path("app_subject") }}">
                    <p>Subjects</p>
                </a>
                <a class="nav-option" href="{{ path("app_student") }}">
                    <p>Students</p>
                </a>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer>
            <div class="footer-text-categories">
                <div class="footer-text-category">
                    <b class="footer-bold">Formations</b>

                    <p class="footer-text">See all</p>
                    <p class="footer-text">Get more Information</p>
                    <p class="footer-text">Create yours</p>
                </div>

                <div class="footer-text-category">
                    <b class="footer-bold">Legal</b>

                    <p class="footer-text">User rights</p>
                    <p class="footer-text">GDPR</p>
                    <p class="footer-text">Privacy</p>
                </div>

                <div class="footer-text-category">
                    <b class="footer-bold">Help</b>

                    <p class="footer-text">Connection</p>
                    <p class="footer-text">My profile</p>
                    <p class="footer-text">Blog</p>
                </div>

            </div>

            <div class="footer-iconlist">
                <figure class="footer-iconfig">
                    <img class="footer-iconoimg" src="" alt="">
                </figure>
            </div>

            <img class="footer-logo" src="{{ asset("img/bear.png") }}" alt="Site logo">
        </footer>
    </body>
</html>
